[submodule "www"]
	path = www
	url = https://github.com/b1ueb1ues/b1ueb1ues.github.io
[submodule "b1ueb1ues.github.io"]
	path = b1ueb1ues.github.io
	url = https://github.com/b1ueb1ues/b1ueb1ues.github.io.git
